<div class="home">
  <section class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2767&q=80);">
    <div class="banner-container">
      <h1>Enflammons <strong>7,3 millions</strong> de passionnés esport</h1>
      <p>1er organisateur de tournois esport</p>
      <a class="call-btn" href="#">DÉCOUVRIR</a>
    </div>
  </section>

  <div class="carousel">
    <h2>Ils ont joué, ils ont gagné...</h2>
    <section class="customer-logos slick-slider">
      <div class="slick-slide"><img src="https://s3.eu-west-3.amazonaws.com/advisory-io/client_icons/stanwell.png" alt="Stanwell Consultant"></div>
      <div class="slide"><img src="https://s3.eu-west-3.amazonaws.com/advisory-io/client_icons/kpmg.png" alt="kpmg consulting"></div>
      <div class="slide"><img src="https://s3.eu-west-3.amazonaws.com/advisory-io/client_icons/convictionsRH.png" alt="convictionsRH recrutement"></div>
      <div class="slide"><img src="https://s3.eu-west-3.amazonaws.com/advisory-io/client_icons/wedr.png" alt="wedr cabinet de conseil"></div>
      <div class="slide"><img src="https://s3.eu-west-3.amazonaws.com/advisory-io/client_icons/magellan.png" alt="Magellan conseil"></div>
      <div class="slide"><img src="https://s3.eu-west-3.amazonaws.com/advisory-io/client_icons/tasmane.png" alt="Tasmane consultant"></div>
      <div class="slide"><img src="https://s3.eu-west-3.amazonaws.com/advisory-io/client_icons/colombus.png" alt="colombus cabinet de consulting"></div>
      <div class="slide"><img src="https://s3.eu-west-3.amazonaws.com/advisory-io/client_icons/capco.png" alt="capco consultants"></div>
      <div class="slide"><img src="https://s3.eu-west-3.amazonaws.com/advisory-io/client_icons/nova_consulting.png" alt="nova consulting"></div>
      <div class="slide"><img src="https://s3.eu-west-3.amazonaws.com/advisory-io/client_icons/weave.png" alt="weave cabinet"></div>
    </section>
  </div>

  <section class="bidule">
    <h3>blablabla</h3>
  </section>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
