<div class="home">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2767&q=80);">
    <div class="banner-container">
      <h1>Enflammons <strong>7,3 millions</strong> de passionnés esport</h1>
      <p>1er organisateur de tournois esport</p>
      <a id="discover-btn" href="#discover">DÉCOUVRIR</a>
    </div>
  </div>

  <div class="carousel" id="discover">
    <h2>Ils ont joué, ils ont gagné...</h2>
    <section class="customer-logos slick-slider">
      <div class="slick-slide"><img src="https://d2m5zqqcosbe2i.cloudfront.net/uploads/media/1/6269-sony.png?date=20170628-2" alt="Sony"></div>
      <div class="slide"><img src="https://d2m5zqqcosbe2i.cloudfront.net/uploads/media/1/6266-pmu.png?date=20170628-2" alt="PMU"></div>
      <div class="slide"><img src="https://d2m5zqqcosbe2i.cloudfront.net/uploads/media/1/6267-redbull.png?date=20170628-2" alt="Redbull"></div>
      <div class="slide"><img src=" https://d2m5zqqcosbe2i.cloudfront.net/uploads/media/1/6268-sogeti.png?date=20170628-2" alt="Sogeti"></div>
      <div class="slide"><img src="https://d2m5zqqcosbe2i.cloudfront.net/uploads/media/1/6262-bpi-france.png?date=20170628-2" alt="BPI France"></div>
      <div class="slide"><img src="https://d2m5zqqcosbe2i.cloudfront.net/uploads/media/1/6264-m6tv.png?date=20170628-2" alt="M6"></div>
      <div class="slide"><img src=" https://d2m5zqqcosbe2i.cloudfront.net/uploads/media/1/6265-micromania.png?date=20170628-2" alt="Micromania"></div>
      <div class="slide"><img src="https://s3.eu-west-3.amazonaws.com/advisory-io/client_icons/capco.png" alt="capco consultants"></div>
      <div class="slide"><img src="https://d2m5zqqcosbe2i.cloudfront.net/uploads/media/1/6270-ubisoft-1.png?date=20170628-2" alt="Ubisoft"></div>
      <div class="slide"><img src="https://d2m5zqqcosbe2i.cloudfront.net/uploads/media/1/6263-france-tv.png?date=20170628-2" alt="France Television"></div>
  </div>

  <div class="value-proposition" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1560369457-fb1181a7ac4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2851&q=80);">
    <div class="value-container">
      <h2>Devenez partenaire de la 1ère plateforme esport en France</h2>
      <ul>
        <li><span>+970.000</span> joueurs inscrits</li>
        <li><span>+700.000</span> € de cashprize distribués</li>
        <li><span>+150.000</span> participations mensuelles</li>
      </ul>
    </div>
  </div>
</div>

<div class="choice" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://d2m5zqqcosbe2i.cloudfront.net/uploads/media/1/6295-morpheus.png?date=20170628-2);">
  <div class="choice-container">
    <%= link_to "NOS RÉALISATIONS", pages_realisations_path, class:"call-btn" %>
    <%= link_to "NOS OFFRES", pages_offers_path, class:"call-btn" %>
  </div>
</div>

<div class="contact-form">
  <h2>CONTACT</h2>
  <p>contactez nous directement par mail sur <a href="mailto:'hello@glory4gamers.com">hello@glory4gamers.com</a></p>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
