<div class="realisations">
  <div class="real-header">
    <h1>SOGETI ESPORT SERIES</h1>
  </div>
  <div class="real-picture">
    <img src="http://emeth-design.fr/wp-content/uploads/2019/05/DSC_0116-2000x1200.jpg" alt="Sogeti">
  </div>
  <div class="real-description">
    <div class="real-client">
      <h4>Client</h4>
      <p>Sogeti - Part of Capgemini</p>
      <a href="https://www.sogeti.com">https://www.sogeti.com</a>
    </div>
    <div class="real-objectif">
      <h4>Objectif</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in sollicitudin sapien. Vestibulum malesuada suscipit felis, eu finibus risus aliquet sed. Duis pellentesque lobortis enim, eget tristique tellus fringilla vel. Donec sed mauris odio. Donec dictum velit sit amet vulputate finibus. Etiam sed auctor est, nec fringilla ex. Maecenas rutrum sapien volutpat purus feugiat, sit amet bibendum neque efficitur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse et mattis sapien. Aliquam ornare erat id dapibus interdum.</p>
    </div>
    <div class="real-results">
      <h4>Résultats</h4>
      <p>Aenean et placerat mi. Duis pellentesque elementum laoreet. Cras eu pretium nunc, vitae dapibus leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a scelerisque enim. Cras purus nisl, malesuada eu nibh at, accumsan rhoncus nunc. Integer dapibus mollis justo, quis convallis leo tempus sed. Vivamus elementum iaculis augue vel consequat. Sed pellentesque tellus non odio hendrerit, eget euismod tortor consectetur. Sed ut vehicula lacus, at consequat dui. Praesent in erat condimentum, venenatis lacus at, aliquam arcu. Maecenas vitae laoreet nisl.</p>
    </div>
  </div>

  <hr>

  <div class="real-paraph">
    <p>Praesent suscipit est augue. Phasellus ultricies non sem cursus dictum. Integer ullamcorper, erat nec venenatis cursus, felis ipsum sollicitudin nulla, in pellentesque risus justo sed augue. Nunc commodo volutpat erat, nec laoreet quam aliquet in. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam rhoncus, lorem at lobortis laoreet, dui sapien malesuada neque, non eleifend augue neque in ipsum. Vestibulum vitae dignissim neque. Nam molestie ex nec eros euismod sollicitudin et sed mauris. Aenean molestie, sapien vitae malesuada cursus, nunc enim scelerisque urna, vitae auctor eros ex nec mauris. Nulla tempor, sem efficitur tincidunt accumsan, sem turpis volutpat magna, eu congue massa tellus in tortor. Nulla facilisi.</p>
  </div>

  <div class="real-video">
      <iframe width="950" height="600"
      src="https://www.youtube.com/embed/JHl5MGN4tBE?autoplay=1&mute=1&modestbranding=1&showinfo=0&showsearch=0&iv_load_policy=3&cc_load_policy=1&loop=1&playlist=JHl5MGN4tBE">
      </iframe>
  </div>

  <div class="real-exp-return">
    <div>
      <h2>Retour d'expérience</h2>
      <p>Sed commodo a purus in placerat. Nulla vel finibus lorem. Quisque imperdiet arcu at faucibus posuere. Maecenas a massa pellentesque, cursus justo ut, euismod nunc. Vestibulum lacinia velit nunc, a fermentum ex bibendum nec. Ut eu iaculis libero. Curabitur vitae nisl at quam egestas volutpat. Vestibulum ultricies accumsan tortor, id tincidunt ante efficitur non. Cras non mollis quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed nec massa sed neque dignissim cursus. Integer ac placerat eros.</p>
    </div>
  </div>

  <hr>

  <div class="real-pictures-container">
    <div class="real-left-pictures">
      <img src="https://mir-s3-cdn-cf.behance.net/project_modules/2800/a2a19a80432539.5ce16b9e26969.jpg" alt="sogeti_1">
      <img src="https://mir-s3-cdn-cf.behance.net/project_modules/2800/74913a80432539.5ce16b9e266a7.jpg" alt="sogeti_2">
    </div>
    <div class="real-right-pictures">
      <img src="https://mir-s3-cdn-cf.behance.net/project_modules/2800/42126880432539.5ce16b9e1fb52.jpg" alt="sogeti_3">
      <img src="https://mir-s3-cdn-cf.behance.net/project_modules/2800/30124b80432539.5ce16b9e26151.jpg" alt="sogeti_4">
      <img src="https://mir-s3-cdn-cf.behance.net/project_modules/2800/0ae29180432539.5ce16b9e1f863.jpg" alt="sogeti_5">
    </div>
  </div>

  <hr>
</div>
