<div class="realisations">
  <div class="real-header">
    <h1>SOGETI ESPORT SERIES</h1>
  </div>
  <div class="real-picture">
    <img src="http://emeth-design.fr/wp-content/uploads/2019/05/DSC_0116-2000x1200.jpg" alt="Sogeti">
  </div>
  <div class="real-description">
    <div class="real-client">
      <h4>Client</h4>
      <p><span>Sogeti</span> - Entreprise de Service Numérique filiale de CapGemini</p>
      <p>Eric de Quatrebarbes : Directeur Exécutif de Sogeti France</p>
      <a href="https://www.sogeti.com">https://www.sogeti.com</a>
    </div>
    <div class="real-objectif">
      <h4>Objectif</h4>
      <p>Avec 90% de développeurs jouant aux jeux vidéos, Sogeti a pris la résolution de miser sur l'esport afin de se différencier auprès des jeunes talents et d'apporter à Sogeti une identité forte autour du gaming</p>
      <p>Depuis 2018 Sogeti est le sponsor officiel de la Team eSport Oplon sur 5 jeux : League of Legends, Hearthstone, Rocket League, Trackmania et Super Smash Bros Ultimate.</p>
      <p>En 2019, Sogeti s’est associé à <span>Glory4Gamers</span> pour organiser son 1er tournoi eSport au salon Viva Technology : les Sogeti ESports Series @Vivatech.</p>
    </div>
    <div class="real-results">
      <h4>Résultats</h4>
      <p>A l’issue de qualifications online organisées du 14 avril au 8 mai 2019 et ayant réuni près de <span>1600 joueurs</span>, les 4 meilleurs joueurs Super Smash Bros Ultimate et les 4 meilleures équipes Rocket League se sont retrouvés pour une palpitante finale offline, à Vivatech, le 18 mai 2019.</p>
      <p>Avec une salle comble toute la journée, plus de <span>40 000 spectateurs</span>, 16 joueurs de très haut niveau et des commentateurs passionnés, l’évènement a été un beau moment d’eSport.</p>
      <p>Les 3 meilleurs joueurs Super Smash Bros Ultimate se sont partagé un prizepool de <span>4 500€</span> & les 3 meilleures équipes Rocket League se sont partagé un prizepool de <span>4 000€</span>.</p>
    </div>
  </div>

  <hr>

  <div class="real-paraph">
    <p>En terme de retombées médiatiques, les millenials (15-35 ans) ont représenté 85% des spectateurs des <span>100.000 vues YouTube et Twitch</span>. Plus de <span>5 millions d'impressions</span> de la mention des Sogeti Esport Series ont été enregistrées sur le web et les réseaux sociaux.</p>
  </div>

  <div class="real-video">
      <iframe width="950" height="600"
      src="https://www.youtube.com/embed/JHl5MGN4tBE?autoplay=1&mute=1&modestbranding=1&showinfo=0&showsearch=0&iv_load_policy=3&cc_load_policy=1&loop=1&playlist=JHl5MGN4tBE">
      </iframe>
  </div>

  <div class="real-exp-return">
    <div>
      <h2>Retour d'expérience</h2>
      <p>Cet évènement a aussi été l’occasion de prendre de la hauteur sur l’industrie du eSport et son évolution dans le cadre d’une table ronde animée par Alix Dulac, journaliste sportif et jeux vidéo, réunissant différents acteurs de l’écosystème eSport, Baptiste Vasse, manager de l'équipe Oplon, Cyril Chomette, CEO et fondateur de <span>Glory4Gamers</span>, Mathieu Dallon, créateur du Fonds ESport VC et de ESWC Tournament.com, et Eric de Quatrebarbes.</p>
    </div>
  </div>

  <hr>

  <div class="real-pictures-container">
    <div class="real-left-pictures">
      <img src="https://mir-s3-cdn-cf.behance.net/project_modules/2800/a2a19a80432539.5ce16b9e26969.jpg" alt="sogeti_1" data-aos="zoom-in">
      <img src="https://mir-s3-cdn-cf.behance.net/project_modules/2800/74913a80432539.5ce16b9e266a7.jpg" alt="sogeti_2" data-aos="zoom-in">
    </div>
    <div class="real-right-pictures">
      <img src="https://mir-s3-cdn-cf.behance.net/project_modules/2800/42126880432539.5ce16b9e1fb52.jpg" alt="sogeti_3" data-aos="zoom-in">
      <img src="https://mir-s3-cdn-cf.behance.net/project_modules/2800/30124b80432539.5ce16b9e26151.jpg" alt="sogeti_4" data-aos="zoom-in">
      <img src="https://mir-s3-cdn-cf.behance.net/project_modules/2800/0ae29180432539.5ce16b9e1f863.jpg" alt="sogeti_5" data-aos="zoom-in">
    </div>
  </div>

  <hr>
</div>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
