
.call-btn {
  background-color: $red;
  border-radius: 15px;
  color: white;
  padding: 7px 18px !important;
}

.call-btn:hover {
  background-color: #fff;
  color: $red;
}

a:hover {
  text-decoration: none;
}

#discover-btn {
  background-color: #fff;
  border-radius: 15px;
  color: #000;
  font-weight: 800;
  padding: 10px 40px;
  -webkit-animation: pulse 1.5s infinite ease-out;
}

#discover-btn:hover {
  -webkit-animation: none;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
