.navbar-glory {
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  // écrire une règle lorsqu'on commence à scroller, background plein
}

.navbar-glory .navbar-collapse {
  flex-grow: 0;
}

.navbar-glory .navbar-brand img {
  width: 40px;
}

.nav-item {
  font-size: 12px;
}

.nav-link {
  color: #fff !important;
}

.nav-link:hover {
  color: $red !important;
}
