#navbar-glory {
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.3s ease-out;
}

#navbar-glory .navbar-collapse {
  flex-grow: 0;
}

#navbar-glory .navbar-brand img {
  width: 40px;
}

.nav-item {
  font-size: 12px;
}

.nav-link {
  color: #fff !important;
}

.nav-link:hover {
  color: $red !important;
}

.bg-black {
  background-color: #000;
  opacity: 0.9;
}
