.value-proposition {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

.value-container {
  position: absolute;
  padding: 120px 40px;
  color: white;
  h2 {
    font-size: 6vh;
    text-align: center;
  }
  ul {
    margin-top: 40px;
    text-align: center;
  }
  li {
    font-size: 4vh;
    list-style-type: none;
    line-height: 2.5;
    span {
      font-weight: bold;
    }
  }
}

.choice {
  background-size: contain;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.choice-container {
  min-width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 80px;
  a {
    margin: 0 10px;
    width: 170px;
    text-align: center;
  }
}

.contact-form {
  margin: 30px 0 50px 0;
  min-height: 33vh;
  padding: 40px;
  text-align: center;
  a {
    color: $red;
  }
}

.form-actions {
  // text-align: center;
}
