.value-proposition {
  background-color: #000;
  color: #fff;
  padding: 40px;
  h2 {
    font-size: 36px;
    text-align: center;
  }
  p {
    font-size: 22px;
  }
  span {
    font-weight: bold;
  }
}

.value-container {
  margin: 60px 0 40px 0;
  display: flex;
  justify-content: space-around;
}

.value-metrics {
  text-align: center;
}

.new-choice-container {
  display: flex;
  justify-content: center;
}

.choice-link {
  img {
    width: 40vw;
  }
}


.choice {
  background-size: contain;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.choice-container {
  min-width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 80px;
  a {
    margin: 0 10px;
    width: 170px;
    text-align: center;
  }
}

.contact-form {
  margin: 30px 0 50px 0;
  min-height: 33vh;
  padding: 40px;
  text-align: center;
  a {
    color: $red;
  }
}

.form-actions {
  // text-align: center;
}
